# pandas DataFrame基本用法

In [1]:
from pandas import Series,DataFrame
import pandas as pd

In [2]:
data={"col1":[1,2,3],"col2":[4,5,6],"col3":[7,8,9]}
frame=DataFrame(data)
frame

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
      <th>col3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>4</td>
      <td>7</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>5</td>
      <td>8</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>6</td>
      <td>9</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
DataFrame(data,columns=["col2","col1","col3"])

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col2</th>
      <th>col1</th>
      <th>col3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>4</td>
      <td>1</td>
      <td>7</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>2</td>
      <td>8</td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>3</td>
      <td>9</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
DataFrame(data,columns=["col3","col4"])

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col3</th>
      <th>col4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>7</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
frame2=DataFrame(data,columns=["col1","col2","col3","col4"],index=["one","two","three"])
frame2

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
      <th>col3</th>
      <th>col4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>one</th>
      <td>1</td>
      <td>4</td>
      <td>7</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>two</th>
      <td>2</td>
      <td>5</td>
      <td>8</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>three</th>
      <td>3</td>
      <td>6</td>
      <td>9</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
frame2["col1"]      #索引查询值，返回一个Series

one      1
two      2
three    3
Name: col1, dtype: int64

In [8]:
frame2.col2         #属性查值,返回值同上

one      4
two      5
three    6
Name: col2, dtype: int64

In [9]:
frame2.ix['one']

C:\Users\w2239\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

col1      1
col2      4
col3      7
col4    NaN
Name: one, dtype: object